<h1 class="title">新規投稿</h1>
<div class="conatiner w-75 p-3">
<%= render 'layouts/flash_messages' %>
<%= form_for (@blog) do |f| %>
    <p class="text-secondary">
      <%= f.label :title, "タイトル" %><br>
      <%= f.text_field :title %>
    </p>
   
    <p class="text-secondary">
      <%= f.label :content, "内容" %><br>
      <%= f.text_area :content, cols: 60, rows: 8 %>
    </p>
    <p class="text-secondary">
  
    <%= f.label :画像 %><br>
    <div id="img_field" onClick="$('#file').click()" >
    <% if @blog.img.url.present? %>
    <%= image_tag(@blog.img.url) %>
        <% else %>
        <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <% end %>
    </div>

    <%= f.file_field :img, class: "image", style: "display:none;", id: 'file'%>
    </p>
    <p><%= f.check_box :remove_img %>画像を削除する</p>
    <p>
    <%= f.submit "投稿する", :class=>"btn btn-primary" %>
 
    </p>
  <% end %>
  </div>
  <div><%= link_to "戻る", blogs_path, class:"btn btn-link" %></div>