<div class="container">
<div class="row">
<div class="col-4"></div>
<div class="col-4">
  <div class="card">
    <div class="card-header"><h2>登録情報変更</h2></div>
    <div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <p class="card-title"><h5>パスワード変更</h5>※変更しない場合は空欄</p>
  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <div class="description"><%= @minimum_password_length %>文字以上</div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br>
<!-- アバターを設定する -->
<h5>アイコンを設定</h5>
  <img id="avatar_img_prev" src="#" style="visibility:hidden" >
  <div class="circle-avatar">
  <% if current_user.persisted? && current_user.avatar? %>
    <%= image_tag current_user.avatar.url, class: 'avatar_present_img' %>
    <label><%= f.check_box :remove_avatar %> 画像を削除</label>
  <% else %>
    <%= image_tag 'no_avatar.jpg', class: 'avatar_present_img' %>
  <% end %>
    <%= f.file_field :avatar, id: 'post_img' %>
</div>
<br>
<div class="actions text-center">
<%= f.submit "更新する", :class=>"btn btn-primary" %>
<% end %>
</div>
<br>
<h3>アカウント削除</h3>
１度消すと戻せません。
<div class="text-center">
<%= button_to "アカウント削除",
registration_path(resource_name),
data: { confirm: "本当に削除しますか？" },
method: :delete,
class:"btn btn-danger" %>
<br>
<%= link_to "トップへ戻る", root_path %></div>
</div>
</div>
</div>
<div class="col-4"></div>
</div>
</div>
</div> 